.form input,
.form textarea{
  width:100%;
  margin-top: 8px;
  padding: 12px 12px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,.12);
  background: rgba(255,255,255,.03);
  color: var(--text);
  outline:none;
}

.form input:focus,
.form textarea:focus{
  border-color: rgba(125,249,255,.35);
}
